.mainClass{
  display: flex;
  flex-direction: column;
  flex:0;
  height:100vh;
}
.headerClass{
  background-color: #7EE232;
  display: flex;
  flex:0.20;
} 
.middleClass{
  display: flex;
  flex-direction: row;
  
  flex:0.60;
}
  .articleClass{
    display: flex;
    flex:0.6;
    background-color: #FFFFFF;
  }
  .asideClass{
    display: flex;
    flex:0.2;
    background-color: #F2FADA;
  }
  .Nav{
    display: flex;
    flex:0.2;
    background-color: #D0EDD3;
  }

.footerClass{
  display: flex;
  
  background-color: #7EE232;
  flex:0.20;
}

.textClass{
  font-family:sans-serif;
  font-weight:bold;
  padding:2%;
}
